<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Peter.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.Peter.entity.Article">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="module" jdbcType="INTEGER" property="module" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="views" jdbcType="INTEGER" property="views" />
    <result column="likes" jdbcType="INTEGER" property="likes" />
    <result column="comments_count" jdbcType="INTEGER" property="commentsCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.Peter.entity.Article">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `module`, `type`, `status`, is_delete, title, user_id, category_id, views, likes, 
    comments_count, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <update id="addLikesCount">
     update article set likes = likes + 1 where id = #{id}
  </update>
  <update id="subtractLikesCount">
    update article set likes = likes - 1 where id = #{id}
  </update>
  <update id="addCollectsCount">
    update article set collects = collects + 1 where id = #{id}
  </update>
  <update id="subtractCollectsCount">
    update article set collects = collects - 1 where id = #{id}
  </update>
  <update id="addViewsCount">
    update article set views = views + 1 where id = #{id}
  </update>
  <select id="selectAll" resultMap="ResultMapWithBLOBs">
    select
        <if test="distinct">
           distinct
        </if>
        <include refid="Base_Column_List" />
        <include refid="Blob_Column_List" />
        from article
        where type=1 and is_delete=0
  </select>
</mapper>